@model IEnumerable<PASSForm_BPS.ViewModel.BPSPAPPharmaciesListViewModel>
@{
    ViewData["Title"] = "IVInjectionSubmitted";
}

<html>
<head>
    <title>Your View</title>

</head>
<body>
    <div style="padding-top:5%;">


        <div style="overflow-x: auto; border: 2px solid; background-color: white; border-radius: 10px; border-color: white; box-shadow: 1px 0px 9px 1px lightgray;">
            <table class="table hide" id="App_DataTable">
                <thead>
                    <tr class="table table-striped">
                        <th>BPS Request Id</th>
                        <th>Territory Code</th>
                        <th>Workflow Status</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bpslist in Model)
                    {
                        <tr>
                            <td>
                                @(
                                    "00000" + @bpslist.BPS_Record_Id.ToString()
                                    )
                            </td>
                            <td>@bpslist.TMCode</td>
                            <td>@bpslist.StatusType</td>
                            <td>@bpslist.EMP_ID-@bpslist.User_Name</td>
                            <td>@bpslist.CreatedOn.Value.ToString("dd-MMM-yyyy")</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <form asp-action="IVInjectionView" asp-controller="PAPView">
                                                <input type="hidden" name="Id" value="@bpslist.BPS_Record_Id">
                                                <button type="submit" class="icon-navigation" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></button>
                                            </form>
                                        </td>
                                        <td>
                                            <form asp-action="IVInjectionEdit" asp-controller="PAPView">
                                                <input type="hidden" name="Id" value="@bpslist.BPS_Record_Id">
                                                <button type="submit" class="icon-navigation" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#App_DataTable').DataTable({

            });
        });

    </script>
</body>

</html>

