@{
    Layout = "_Layout"; // Set the layout page
    //@model List<tblproduct>

     @model PASSForm_BPS.ViewModel.BPSRequestListViewModel

    int productindex = 0;
}
<html>
<head>
    <style>
        .maindiv {
            height: auto;
            border: 2px solid white;
            width: 100%;
            background: white;
            border-radius: 10px;
            box-shadow: 10x 10px 10px 10px;
            box-shadow: 0 0 0 0 px;
            box-shadow: 1px 0px 9px 1px lightgray;
        }


        .label {
            font-weight: bold;
        }

        .teamssubdiv {
            width: 50%;
            text-align: center;
            border-radius: 25px;
            color: #d71921;
            border: 2px solid #d71921;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            border-style: solid;
        }

        table, th {
            padding: 10px;
        }

        .numfield {
            text-align: end;
            width:12%;
        }

        .maintablediv {
            padding-left: 20%;
            padding-top: 2%;
            width: 80%;
        }
    </style>
</head>
<body>
    <div style="padding-top:1%;">
        <div class="maindiv" style="height:170px;">
            <div style="padding-top:1%;">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <label class="label">For:</label>
                            <div>
                                <input id="PAPType" disabled type="text" value="IV/INJECTION" />
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="label">Start Date:</label>
                            <div>
                                <input id="startdate" type="date" /><br />
                                <span id="startDateError" class="text-danger error-message"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="label">End Date:</label>
                            <div>
                                <input id="enddate" type="date" /><br />
                                <span id="endDateError" class="text-danger error-message"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="padding-top:1%;">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <label class="label">Teams:</label>
                            <div class="teamssubdiv">
                             @foreach (var team in Model.teams)
                                    {
                                <label id="TeamName">@team.TeamName</label>
                                    }
                            </div>
                        </div>
                        <div class="col-4">
                            <input style="visibility:hidden;" value="@ViewBag.ivreqid" id="papivreqid" />
                        </div>
                        <div class="col-4">
                           
                        </div>
                    </div>
                </div>

            </div>
           
        </div>
    </div>

    <div id="tableAcc" class="maintablediv">
        <table>
            <thead>
                <tr style="font-size:12px;">
                    <th>Pack Code</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Discount %</th>

                </tr>
            </thead>
            <tbody style="font-size:13px;" id="tableproducts">
                @if (Model != null)
                {

                    double? unitprice = 0.0;

                    @foreach (var item in Model.tblproducts)
                    {
                
                        <tr>
                            <td id="PackCode-@productindex">@item.PackCode</td>
                            <td id="ProductName-@productindex">@item.ProductName</td>
                            <td id="ProductDiscription-@productindex">@item.Description</td>
                            <td class="numfield">
                            <input id="Discount-@productindex" type="text" class="numfield" style="width:40%" value="0">
                            </td>
                        </tr>
                    productindex++;
                    }
                }


            </tbody>
        </table>

        <div style="padding-top: 2%; text-align: end;">
            <label>Capping:</label>
            <input class="numfield" type="text" id="EditCapping" style="width: 7%;" value="" />
        </div>
    </div>


    <div class="PAPbuttonmaindiv">
        <input class="PAPbutton" type="submit" value="Create" onclick="CreatePAPIVInjectionBPS()" />
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/js/PAPScripts.js"></script>
</body>
</html>