
@{
    ViewData["Title"] = "IVInjectionEdit";
    @model PASSForm_BPS.ViewModel.BPSRequestListViewModel;
    int editivinjectionproductindex = 0;
}

<html>
<head>
    <style>
        .maindiv {
            height: auto;
            border: 2px solid white;
            width: 100%;
            background: white;
            border-radius: 10px;
            box-shadow: 10x 10px 10px 10px;
            box-shadow: 0 0 0 0 px;
            box-shadow: 1px 0px 9px 1px lightgray;
        }


        .label {
            font-weight: bold;
        }

        .teamssubdiv {
            width: 50%;
            text-align: center;
            border-radius: 25px;
            color: #d71921;
            border: 2px solid #d71921;
        }

        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
        }

        th {
            background-color: #d71921; /* Red background color */
            color: white; /* White text color */
            font-size: 12px;
        }

        td {
            font-size: 10px;
        }

        .numfield {
            text-align: end;
            width: 12%;
        }

        .maintablediv {
            padding-left: 20%;
            padding-top: 2%;
            width: 80%;
        }
    </style>
</head>
<body>
    <div style="padding-top:1%;">
        <div class="maindiv">
            <div style="padding-top:1%;">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <label class="label">For:</label>
                            <div>
                                <input id="PAPType" disabled type="text" value="IV/INJECTION" />
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="label">Start Date:</label>
                            <div>
                                @foreach (var fdate in Model.BPSrequestpapIvInjections)
                                {
                                    <input  id="startdate" type="date" value="@GlobalClass.StringDateFormat(@fdate.DiscountFromDate.ToString())" />
                                }

                            </div>
                        </div>
                        <div class="col-4">
                            <label class="label">End Date:</label>
                            <div>
                                @foreach (var tdate in Model.BPSrequestpapIvInjections)
                                {
                                    <input id="enddate" type="date" value="@GlobalClass.StringDateFormat(@tdate.DiscountToDate.ToString())" />
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="padding-top:1%;">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <label class="label">Teams:</label>
                            <div class="teamssubdiv">
                                @foreach (var team in Model.teams)
                                {
                                    <label id="TeamName">@team.TeamName</label>
                                }
                            </div>
                        </div>
                        <div class="col-4">
                            @foreach (var tracid in Model.BPSrequestpapIvInjections)
                                {
                                <input style="visibility:hidden;" value="@tracid.TrackingId" id="papivreqid" />
                                }
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="UpdatetableAcc" class="maintablediv">
        <table>
            <thead>
                <tr style="font-size:12px;">
                    <th>Pack Code</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Discount %</th>

                </tr>
            </thead>
            <tbody style="font-size:13px;" id="updatetableproducts">
                @if (Model != null)
                {

                    double? unitprice = 0.0;

                    @foreach (var item in Model.BPSIvInjectionViewViewModels)
                    {

                        <tr>
                            <td id="EditPackCode-@editivinjectionproductindex">@item.PackCode</td>
                            <td id="EditProductName-@editivinjectionproductindex">@item.ProductName</td>
                            <td id="EditProductDiscription-@editivinjectionproductindex">@item.Description</td>
                            <td style="text-align:end;">
                                <input type="text" class="numfield" style="width:40%" value=" @item.Discount" id="EditDiscount-@editivinjectionproductindex">
                            </td>
                        </tr>
                        editivinjectionproductindex++;
                    }
                }


            </tbody>
        </table>
        <div style="padding-top: 2%; text-align: end;">
            <label>Capping:</label>
            <input class="numfield" type="text" id="EditCapping" style="width: 7%;" value="@Model.bpssalesrecordpapIvInjections.FirstOrDefault()?.Capping" />
        </div>
    </div>
    <div class="PAPbuttonmaindiv">
        <input class="PAPbutton" type="submit" value="Update" onclick="EditPAPIvinjectionBPS()" />
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/PAPScripts.js"></script>
</body>
</html>



